## Introducing Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("~/pandas_practice/weather_data.csv")
df.tail(10)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

### What is the maximum temperature

In [3]:
df['temperature'].min()

28.0

### On which day there was some rain

In [4]:
df[df["event"]=="Rain"]

        day  temperature  windspeed event
0  1/1/2017         32.0        6.0  Rain
4  1/7/2017         32.0        NaN  Rain

In [5]:
df["day"][df["temperature"]>36]

8    1/11/2017
Name: day, dtype: object

### What is the average wind speed ?

In [6]:
df["windspeed"].mean()

8.4

In [7]:
df["windspeed"]

0     6.0
1     9.0
2     NaN
3     7.0
4     NaN
5     NaN
6     NaN
7     8.0
8    12.0
Name: windspeed, dtype: float64

In [8]:
df.describe()

       temperature  windspeed
count      5.00000   5.000000
mean      33.20000   8.400000
std        4.38178   2.302173
min       28.00000   6.000000
25%       32.00000   7.000000
50%       32.00000   8.000000
75%       34.00000   9.000000
max       40.00000  12.000000

###  Suppose I need data for the temperature greater than 30

In [10]:
df[df["temperature"]>=30]

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
4   1/7/2017         32.0        NaN    Rain
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

### Suppose I need data for the temperature greater than 30 and windspeed less than 10

In [15]:
df[ (df["temperature"]>=30) & (df["windspeed"]<=10)]

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
7  1/10/2017         34.0        8.0  Cloudy

### If I need entire row data when the temperature was Maximum

In [16]:
df[df["temperature"]== df.temperature.max()]

         day  temperature  windspeed  event
8  1/11/2017         40.0       12.0  Sunny

In [17]:
df["day"][df["temperature"]== df.temperature.max()] # Mentioning the column needed.i.e. "day" coloumn

8    1/11/2017
Name: day, dtype: object

In [18]:
df[["day","event"]][df["temperature"]== df.temperature.max()]

         day  event
8  1/11/2017  Sunny

# Group by functionality of Pandas

In [20]:
df = pd.read_csv("/home/baleshwar/pandas_practice/weather_by_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [21]:
df['temperature'][df['city']== 'new york'].max()

36

In [22]:
g = df.groupby('city')

In [23]:
g.get_group('mumbai').max()

day            1/4/2017
city             mumbai
temperature          92
windspeed            15
event             Sunny
dtype: object